body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
  .topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px 0 10px 10px;
  }

  .topnav img {
    width: 50px;
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 5pc;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(239, 48, 48);
    color: white;
    border-radius: 5pc;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.koszontes {
    display: block;
    background-color: aliceblue;
    padding: 10px;
    width: 50%;
    margin: 20px auto auto auto;
    border-radius: 15px;
}

section {
  display: block;
  background-color: aliceblue;
  padding: 10px;
  width: 50%;
  margin: 20px auto auto auto;
  border-radius: 15px;
}

table, th, td {
    border: black solid 1px;
    background-color: white;
  }

table {
    margin: 15px auto 0 auto;
    width: 75%;
    height: 300px;
    font-size: 30px;
}

.sicon {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}