body {
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
  .topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px 0 10px 10px;
  }

  .topnav img {
    width: 50px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 5pc;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(239, 48, 48);
    color: white;
    border-radius: 5pc;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.koszontes {
    display: block;
    background-color: aliceblue;
    padding: 10px;
    width: 50%;
    margin: 20px auto auto auto;
    border-radius: 15px;
}

section {
  display: block;
  background-color: aliceblue;
  padding: 10px;
  width: 50%;
  margin: 20px auto auto auto;
  border-radius: 15px;
}

table, th, td {
    border: black solid 1px;
    background-color: white;
  }

table {
    margin: 15px auto 0 auto;
    width: 75%;
    height: 300px;
    font-size: 30px;
}

.sicon {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.container{
  width: 100%;
  height: 100vh;
  background: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}


.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px; 
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

